/* ---------------------------------------------------------------------- */
/*  General
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/*  Roboto Condensed
/* ---------------------------------------------------------------------- */
a:hover {
    text-decoration: none;
}

div {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: url(images/bg-body.jpg);
    margin: 20px auto 30px auto;
}

header {
    width: 860px;
    max-width: 100%;
    height: 100px;
}

.logo {
    display: none;
}

.logo .name {
    font-size: 32px;
}
.logo .sub {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.social-container {
    position: absolute;
    margin-top: 15px;
    right: 78px;
}

.social-container .social-icon {
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    transition: .5s;
    background: #c94747;
}

.social-container .social-icon i {
    font-size: 20px;
    width: 32px;
    line-height: 32px;
}

.social-container #share {
    z-index: 100;
}

.social-container #facebook {
    z-index: 99;
}

.social-container #twitter {
    z-index: 98;
}

.social-container #linkedin {
    z-index: 97;
}

.social-container #whatsapp {
    z-index: 96;
}

.social-container.show #facebook {
    transform: translateX(-35px);
}

.social-container.show #twitter {
    transform: translateX(-70px);
    transition-delay: .05s;
}

.social-container.show #linkedin {
    transform: translateX(-105px);
    transition-delay: .10s;
}

.social-container.show #whatsapp {
    transform: translateX(-140px);
    transition-delay: .15s;
}

.social-container.hide #facebook,
.social-container.hide #twitter,
.social-container.hide #linkedin,
.social-container.hide #whatsapp {
    transform: translateX(0px);
}

.social-container.hide #facebook {
    transition-delay: .15s;
}

.social-container.hide #twitter {
    transition-delay: .10s;
}

.social-container.hide #linkedin {
    transition-delay: .05s;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.profile
{
    background: #c94747;
    height: 300px;
}

.about .photo-inner {
    float: left;
    transition: 0.5s;
    width: 200px;
    height: 220px;
    padding: 12px 0 0 19px;
    background: url(images/photo-inner.png) no-repeat;
    filter: grayscale(100%);
}

.about .photo-inner:hover {
    filter: none;
}

.about .name {
    line-height: 34px;
    font-size: 30px;
}

.about .sub {
    line-height: 18px;
    font-size: 18px;
}

.about p {
    line-height: 24px;
    font-size: 14px;
}

.personal-info:before {
    content: '';
    top: 0;
    position: absolute;
    height: 100%;
    width: 15px;
    margin-left: -20px;
    background: radial-gradient(ellipse at 100%, rgba(0, 0, 0, 0.2) 0%, transparent 75%, transparent 100%);
}

.personal-info li {
    font-size: 14px;
    line-height: 14px;
}

.menu {
    height: 100px;
    background-color: #ededed;
}

.tabs
{
    margin-top: -11px;
}
.tabs .item {
    min-width: 120px;
}

.tabs .item i {
    font-size: 45px;
    display: block;
}

.tabs .item a {
    color: #b9b9b9;
    font-size: 15px;
    line-height: 35px;
}

.tabs .active a {
    color: #c94747;
    border-radius: 5px 5px 0 0;
}

.tabs-bg{
    transition: 0.5s;
}

.tabs a:hover:not(.active) .tabs-bg{
    transform: translateY(-7px);
    color: #c94747;
}

.tabs > .active {
    background: linear-gradient(0deg, #fff, #ededed);
    box-shadow: inset 0 1px 1px 1px #d8d8d8;
}

.tabs > .active i {
    animation: bounce 3s linear infinite;
}

.tabs > .active .tabs-bg
{
    color: #c94747;
}

@keyframes bounce {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-2px);
    }

    75% {
        transform: translateY(1px);
    }
}

/* ---------------------------------------------------------------------- */
/*  Resume
/* ---------------------------------------------------------------------- */

.bg-color-right {
    background: #1c1b1f;
    color: #fff;
}

.left-name {
    background: #e4e4e4;
}

.left-name .name {
    font-size: 54px;
    color: #383838;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}

.left-name span {
    color: #c94747;
    width: 100%;
    margin-top: -11px;
    font-family: 'Oswald', sans-serif;
}

.left-name .sub {
    border-radius: 50px;
    background: #c94747;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.left-name p {
    color: #383838;
    font-weight: 400;
    font-size: 14px;
}

.ex-heading {
    width: 100%;
    letter-spacing: 5px;
    font-size: 25px;
    height: 42px;
    background: #c94747;
    color: #fff;
}

.ex-heading div {
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 576px) and (max-width: 767px) {
    .ex-heading .edu:after,
    .ex-heading .edu:before,
    .ex-heading .flags-edu:after,
    .ex-heading .flags-edu:before,
    .ex-heading .exp:after,
    .ex-heading .exp:before,
    .ex-heading .flags-exp:after,
    .ex-heading .flags-exp:before {
        content: "";
        height: 42px;
        width: 42px;
        position: absolute;
    }

    .ex-heading .edu:after,
    .ex-heading .edu:before,
    .ex-heading .flags-exp:after,
    .ex-heading .flags-exp:before {
        right: 0;
        margin: -6px -42px 0 0;
        border-right: 42px solid transparent;
    }

    .ex-heading .exp:after,
    .ex-heading .exp:before,
    .ex-heading .flags-edu:after,
    .ex-heading .flags-edu:before {
        left: 0;
        margin: -6px 0 0 -42px;
        border-left: 42px solid transparent;
    }

    .ex-heading .edu:after,
    .ex-heading .exp:after,
    .ex-heading .flags-edu:after,
    .ex-heading .flags-exp:after {
        border-bottom: 42px solid #c94747;
    }

    .ex-heading .edu:before,
    .ex-heading .exp:before,
    .ex-heading .flags-edu:before,
    .ex-heading .flags-exp:before {
        border-top: 42px solid #c94747;
    }
}

@media (min-width: 768px) {
    .ex-heading .edu:after,
    .ex-heading .edu:before,
    .ex-heading .exp:after,
    .ex-heading .exp:before {
        content: "";
        height: 42px;
        width: 42px;
        position: absolute;
    }

    .ex-heading .edu:after,
    .ex-heading .edu:before {
        right: 0;
        margin: -6px -42px 0 0;
        border-right: 42px solid transparent;
    }

    .ex-heading .exp:after,
    .ex-heading .exp:before {
        left: 0;
        margin: -6px 0 0 -42px;
        border-left: 42px solid transparent;
    }

    .ex-heading .edu:after,
    .ex-heading .exp:after {
        border-bottom: 42px solid #c94747;
    }

    .ex-heading .edu:before,
    .ex-heading .exp:before {
        border-top: 42px solid #c94747;
    }
}

.ex-box .name {
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    padding: 5px 21px;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing: 1px;
    background: #c94747;
    color: #fff;
}

.ex-box .sub {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0 5px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.ex-box p {
    font-size: 14px;
}

.right-skills .name,
.right-interests .name
{
    line-height: 22px;
    text-transform: uppercase;
}

.right-skills .heading-skills .name,
.right-interests .heading-skills .name
{
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 600;
}

.interest-box i.fa {
    font-size: 36px;
    text-align: center;
}

.interest-icons {
    text-align: center;
    margin: 0 0 19px -33px;
}

.interest-icons h5 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    color: white;
}

.education-right {
}

.education-right .ex-box {
    padding: 0;
}

.qr-box img {
    width: 169px;
    max-width: 100%;
}

.address-right-box ul li {
    list-style: none;
    display: flex;
}

.address-right-box ul li {
    list-style: none;
    display: flex;
    color: #908e8e;
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 600;
}

.address-right-box i {
    margin-right: 15px;
    font-size: 20px;
    text-align: center;
    width: 20px;
}

.bg-color-left {
    background: #f7f7f7;
    padding-bottom: 30px;
}

.skill-name ul li {
    list-style: none;
    width: 7px;
    height: 7px;
    background: #fff;
}

.skill-name .name {
    font-size: 28px;
    width: 68px;
    height: 68px;
    border: 5px solid #c94747;
}

.top-skills {
    display: flex;
    width: 473px;
    max-width: 100%;
}

.color-box {
    top: 150px;
}

.btn-style {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    margin-top: -30px;
    transition: .5s;
    background: #c94747;
    color: #fff;
}

.color-box.show .red {
    transform: translateY(30px);
}

.color-box.show .yellow {
    transform: translateY(60px);
    transition-delay: .05s;
}

.color-box.show .blue {
    transform: translateY(90px);
    transition-delay: .10s;
}

.color-box.show .green {
    transform: translateY(120px);
    transition-delay: .15s;
}

.color-box.hide .red,
.color-box.hide .yellow,
.color-box.hide .blue,
.color-box.hide .green {
    transform: translateY(0px);
}

.color-box.hide .red {
    transition-delay: .15s;
}

.color-box.hide .yellow {
    transition-delay: .10s;
}

.color-box.hide .blue {
    transition-delay: .05s;
}

.color-box .setting-icon {
    z-index: 100;
}

.color-box .red {
    background: #c94747;
    z-index: 99;
}

.color-box .yellow {
    background: #c9c047;
    z-index: 98;
}

.color-box .blue {
    background: #476dc9;
    z-index: 97;
}

.color-box .green {
    background: #47c94d;
    z-index: 96;
}

/* ---------------------------------------------------------------------- */
/*  Change color yellow
/* ---------------------------------------------------------------------- */

.yellow .address-right-box .fa,
.yellow .text-color,
.yellow .tabs > .active .tabs-bg,
.yellow .tabs a:hover:not(.active) .tabs-bg,
.yellow .left-name span {
    color: #c9c047;
}

.yellow .progress-bar,
.yellow .qr-box,
.yellow .ex-box .name,
.yellow .ex-heading,
.yellow .left-name .sub,
.yellow .skill-name .point,
.yellow .cats-filter .current,
.yellow .social-container .social-icon,
.yellow .profile, .yellow form button,
.yellow .main-heading:after {
    background-color: #c9c047;
}

.yellow .skill-name .name,
.yellow .portfolio-list .grid-item a:hover, .yellow .contact-info ul {
    border-color: #c9c047;
}

.yellow .ex-heading .exp:before,
.yellow .ex-heading .edu:before,
.yellow .ex-heading .flags-edu:before,
.yellow .ex-heading .flags-exp:before {
    border-top: 42px solid #c9c047;
}

.yellow .ex-heading .exp:after,
.yellow .ex-heading .edu:after,
.yellow .ex-heading .flags-edu:after,
.yellow .ex-heading .flags-exp:after {
    border-bottom: 42px solid #c9c047;
}

/* ---------------------------------------------------------------------- */
/*  Change color blue
/* ---------------------------------------------------------------------- */

.blue .address-right-box .fa,
.blue .text-color,
.blue .tabs > .active .tabs-bg,
.blue .tabs a:hover:not(.active) .tabs-bg,
.blue .left-name span {
    color: #476dc9;
}

.blue .progress-bar,
.blue .qr-box,
.blue .ex-box .name,
.blue .ex-heading,
.blue .left-name .sub,
.blue .skill-name .point,
.blue .cats-filter .current,
.blue .social-container .social-icon,
.blue .profile, .blue form button,
.blue .main-heading:after {
    background-color: #476dc9;
}

.blue .skill-name .name,
.blue .portfolio-list .grid-item a:hover, .blue .contact-info ul {
    border-color: #476dc9;
}

.blue .ex-heading .exp:before,
.blue .ex-heading .edu:before,
.blue .ex-heading .flags-edu:before,
.blue .ex-heading .flags-exp:before {
    border-top: 42px solid #476dc9;
}

.blue .ex-heading .exp:after,
.blue .ex-heading .edu:after,
.blue .ex-heading .flags-edu:after,
.blue .ex-heading .flags-exp:after {
    border-bottom: 42px solid #476dc9;
}

/* ---------------------------------------------------------------------- */
/*  Change color green
/* ---------------------------------------------------------------------- */

.green .address-right-box .fa,
.green .text-color,
.green .tabs > .active .tabs-bg,
.green .tabs a:hover:not(.active) .tabs-bg,
.green .left-name span {
    color: #47c94d;
}

.green .progress-bar,
.green .qr-box,
.green .ex-box .name,
.green .ex-heading,
.green .left-name .sub,
.green .skill-name .point,
.green .cats-filter .current,
.green .social-container .social-icon,
.green .profile, .green form button,
.green .main-heading:after {
    background-color: #47c94d;
}

.green .skill-name .name,
.green .portfolio-list .grid-item a:hover, .green .contact-info ul {
    border-color: #47c94d;
}

.green .ex-heading .exp:before,
.green .ex-heading .edu:before,
.green .ex-heading .flags-edu:before,
.green .ex-heading .flags-exp:before {
    border-top: 42px solid #47c94d;
}

.green .ex-heading .exp:after,
.green .ex-heading .edu:after,
.green .ex-heading .flags-edu:after,
.green .ex-heading .flags-exp:after {
    border-bottom: 42px solid #47c94d;
}

/* ---------------------------------------------------------------------- */
/*  Portfolio
/* ---------------------------------------------------------------------- */

.portfolio
{
    padding: 25px;
    background: #fff;
}

.portfolio-list {
}

.portfolio-list .grid-item {
    text-align: center;
    padding: 0;
}

.portfolio-list .grid-item a {
    background: #fbfbfb;
    display: block;
    margin: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.portfolio-list .grid-item a:hover {
    border-color: #c94747;
}

.portfolio-list img {
    object-fit: cover;
}

.portfolio-list .title {
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
    color: #3a3a3a;
}

.portfolio-list .category {
    font-size: 11px;
    line-height: 25px;
    color: #999
}

.cats-filter {
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    padding: 15px 0;
}

.cats-filter a {
    margin: 0 0 7px 5px;
    background-color: #777;
    padding: 10px;
    font-size: 13px;
}

.cats-filter .current, .skill-name .point, .progress-bar, .qr-box {
    background: #c94747;
}

.extra-text {
    margin: 20px;
    color: #333;
}

/* ---------------------------------------------------------------------- */
/*  magnific-popup.js plugin
/* ---------------------------------------------------------------------- */

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.grid-item {
    float: left;
}

/* ---------------------------------------------------------------------- */
/*  Contact
/* ---------------------------------------------------------------------- */

#contact {
    background: #fff;
    padding: 0;
}

.contact-container {
    display: flex;
    margin: 0;
}

.contact-info, .contact-form {
    padding: 20px 60px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    width: 250px
}

.contact-form {
    width: 530px;
}

.contact-info ul {
    float: left;
    border-left: 1px solid #c94747;
    padding-left: 18px;
}

.contact-info ul li {
    font-size: 14px;
    line-height: 20px;
    color: #777;
}

#map {
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
}

#map iframe {
    width: 100%;
}

form input, form textarea {
    box-shadow: inset 0 0 3px 0 #ccc;
    resize: none;
}

form label {
    opacity: 0;
    display: block;
}

form button {
    color: #fff;
    text-transform: uppercase;
    background-color: #c94747;
    padding: 8px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.main-heading {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.main-heading:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 50px;
    background: #c94747;
    margin-top: 15px;
}