$main-font: 'Roboto Condensed', sans-serif;
$sub-font: 'Oswald', sans-serif;
$red: #c94747;
$yellow: #c9c047;
$green: #47c94d;
$blue: #476dc9;
$white: #fff;
$black: #000;
$alpha: .2;

a {
  &:hover {
    text-decoration: none;
  }
}

div {
  font-family: $main-font;
}

body {
  background: url('images/bg-body.jpg');
  margin: 20px auto 30px;
}

.container {
  box-shadow: 0 4px 8px 0 transparentize($black, 1-$alpha), 0 6px 20px 0 transparentize($black, 1-$alpha);
}

header {
  height: 100px;
  width: 860px;
}

.logo {
  display: none;
  .name {
    font-size: 32px;
  }
  .sub {
    font-family: 18px $sub-font;
  }
}

.social-container {
  margin-top: 15px;
  position: absolute;
  right: 78px;
  &.show {
    @for $i from 2 through 5 {
      .social-icon {
        &:nth-child(#{$i}) {
          transform: translateX(-$i * 35px + 35px);
          transition-delay: $i * .05s;
        }
      }
    }
  }
  .social-icon {
    background: $red;
    border: 2px solid $white;
    height: 35px;
    transition: .5s;
    width: 35px;
    i {
      font-size: 20px;
      line-height: 32px;
      width: 32px;
    }
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        z-index: 100 - $i;
      }
    }
  }
}

.profile {
  background: $red;
  height: 300px;
}

.about {
  .photo-inner {
    background: url('images/photo-inner.png') no-repeat;
    filter: grayscale(100%);
    float: left;
    height: 220px;
    padding: 12px 0 0 19px;
    transition: .5s;
    width: 200px;
    &:hover {
      filter: none;
    }
  }
  .name {
    font-size: 30px;
    line-height: 34px;
  }
  .sub {
    font-size: 18px;
    line-height: 18px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}

.personal-info {
  li {
    font-size: 14px;
    line-height: 14px;
  }
  &::before {
    background: radial-gradient(ellipse at 100%, transparentize($black, .8) 0%, transparent 75%, transparent 100%);
    content: '';
    height: 100%;
    margin-left: -20px;
    position: absolute;
    top: 0;
    width: 15px;
  }
}

.menu {
  background-color: darken($white, 7%);
  height: 100px;
}

.tabs {
  margin-top: -11px;
  .tabs-bg {
    transition: .5s;
  }
  i {
    display: block;
    font-size: 45px;
  }
  a {
    color: darken($white, 20%);
    font-size: 15px;
    line-height: 35px;
  }
  .item {
    min-width: 120px;
    &:not(.active):hover .tabs-bg {
      color: $red;
      transform: translateY(-7px);
    }
    &.active {
      background: linear-gradient(0, $white, darken($white, 15%));
      border: 1px solid darken($white, 15%);
      border-radius: 5px 5px 0 0;
      color: $red;
      i {
        animation: bounce 3s linear infinite;
      }
      .tabs-bg {
        color: $red;
        transition: .5s;
      }
    }
  }
}

.color-box {
  top: 150px;
  .btn-style {
    background: $red;
    border: 2px solid $white;
    color: $white;
    height: 35px;
    margin-top: -35px;
    transition: .5s;
    width: 35px;
    .fa {
      font-size: 21px;
      line-height: 25px;
    }
    &.yellow {
      background: $yellow;
    }
    &.green {
      background: $green;
    }
    &.blue {
      background: $blue;
    }
  }
  &.show {
    @for $i from 2 through 5 {
      .btn-style {
        &:nth-child(#{$i}) {
          transform: translateY($i * 35px - 35px);
          transition-delay: $i * .05s;
        }
      }
    }
  }
  @for $i from 1 through 5 {
    .btn-style {
      &:nth-child(#{$i}) {
        z-index: 100 - $i;
      }
    }
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(1px);
  }
}


.left-name {
  background: darken($white, 10%);
  div,
  span {
    font-family: $sub-font;
  }
  .name {
    color: lighten($black, 25%);
    font-size: 54px;
    font-weight: 800;
  }
  span {
    color: $red;
    margin-top: -11px;
    width: 100%;
  }
  .sub {
    background: $red;
    border-radius: 50px;
    color: $white;
  }
  p {
    color: lighten($black, 25%);
    font-size: 14px;
    font-weight: 400;
  }
}

.ex-heading {
  background: $red;
  color: $white;
  font-size: 25px;
  height: 42px;
  letter-spacing: 5px;
  width: 100%;
  div {
    font-family: $sub-font;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ex-heading {
    .edu,
    .flags-edu,
    .exp,
    .flags-exp {
      &::after,
      &::before {
        content: '';
        height: 42px;
        position: absolute;
        width: 42px;
      }
      &::after {
        border-bottom: 42px solid $red;
      }
      &::before {
        border-top: 42px solid $red;
      }
    }
    .edu,
    .flags-exp {
      &::after,
      &::before {
        border-right: 42px solid transparent;
        margin: -6px -42px 0 0;
        right: 0;
      }
    }
    .exp,
    .flags-edu {
      &::after,
      &::before {
        border-left: 42px solid transparent;
        left: 0;
        margin: -6px 0 0 -42px;
      }
    }
  }
}

@media (min-width: 768px) {
  .ex-heading {
    .edu,
    .exp {
      &::after,
      &::before {
        content: '';
        height: 42px;
        position: absolute;
        width: 42px;
      }
      &::after {
        border-bottom: 42px solid $red;
      }
      &::before {
        border-top: 42px solid $red;
      }
    }
    .edu {
      &::after,
      &::before {
        border-right: 42px solid transparent;
        margin: -6px -42px 0 0;
        right: 0;
      }
    }
    .exp {
      &::after,
      &::before {
        border-left: 42px solid transparent;
        left: 0;
        margin: -6px 0 0 -42px;
      }
    }
  }
}

.ex-box {
  div {
    font-family: $sub-font;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .name {
    background: $red;
    border-radius: 50px;
    color: $white;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 5px 21px;
  }
  .sub {
    padding: 10px 0 5px;
  }
  p {
    font-size: 14px;
  }
}

.bg-color-left {
  background: darken($white, 10%);
  padding-bottom: 30px;
}

.bg-color-right {
  background: lighten($black, 25%);
  color: $white;
}

.top-skills {
  display: flex;
  width: 473px;
}

.skill-name {
  ul > li {
    background: $white;
    height: 7px;
    list-style: none;
    width: 7px;
  }
  .name {
    border: 5px solid $red;
    font-size: 28px;
    height: 68px;
    width: 68px;
  }
}

.right-skills,
.right-interests {
  .heading-skills {
    font-size: 21px;
    text-align: center;
  }
  .name {
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 21px;
    text-transform: uppercase;
  }
}

.right-interests {
  .interest-box {
    .interest-icons {
      margin-bottom: 20px;
      text-align: center;
    }
    .fa {
      font-size: 36px;
    }
  }
}

.address-qr-right {
  .qr-box > img {
    width: 100%;
  }
  .address-right-box {
    ul > li {
      display: flex;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 21px;
    }
    i {
      font-size: 20px;
      margin-right: 15px;
      text-align: center;
      width: 20px;
    }
  }
}

.portfolio {
  background: $white;
  padding: 25px;
}

.cats-filter {
  border-bottom: 1px solid darken($white, 25%);
  overflow: hidden;
  padding: 15px 0;
  a {
    background-color: lighten($black, 25%);
    font-size: 13px;
    margin: 0 0 7px 5px;
    padding: 10px;
  }
  .current {
    background: $red;
  }
}

.skill-name > ul >  .point,
.progress-bar,
.qr-box {
  background: $red;
}

.portfolio-list {
  .grid-item {
    float: left;
    padding: 0;
    text-align: center;
  }
  a {
    background: darken($white, 1%);
    border-bottom: 1px solid darken($white, 10%);
    display: block;
    margin: 10px;
    &:hover {
      border-color: $red;
    }
  }
  img {
    object-fit: cover;
  }
  .title {
    color: lighten($black, 25%);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
  }
  .category {
    color: lighten($black, 50%);
    font-size: 11px;
    line-height: 25px;
  }
}

.mfp-with-zoom {
  .mfp-container,
  &.mfp-bg {
    backface-visibility: hidden;
    opacity: 0;
    transition: .3s ease-out;
  }
  &.mfp-ready {
    .mfp-container {
      opacity: 1;
    }
    &.mfp-bg {
      opacity: .8;
    }
  }
  &.mfp-removing {
    .mfp-container {
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

.contact {
  background: $white;
  padding: 0;
  .map {
    border: 1px solid darken($white, 30%);
    height: 300px;
    width: 100%;
    iframe {
      width: 100%;
    }
  }
}

.contact-container {
  display: flex;
  margin: 0;
  .contact-info,
  .contact-form {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
  }
  ul {
    border-left: 1px solid $red;
    float: left;
    padding-left: 18px;
    li {
      color: lighten($black, 30%);
      font-size: 14px;
      line-height: 20px;
    }
  }
  form {
    input,
    textarea {
      box-shadow: inset 0 0 3px 0 lighten($black, 30%);
      resize: none;
    }
    label {
      display: block;
      opacity: 0;
    }
    button {
      background-color: $red;
      border: 0;
      border-radius: 3px;
      color: $white;
      font-size: 14px;
      padding: 8px;
      text-transform: uppercase;
    }
  }
  .main-heading {
    border-bottom: 2px solid transparentize($black, 1-$alpha);
    font-family: $sub-font;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    &::after {
      background: $red;
      content: '';
      display: block;
      height: 2px;
      margin-top: 15px;
      position: absolute;
      width: 50px;
    }
  }
}

.yellow {
  .tabs {
    .item {
      &:not(.active):hover .tabs-bg {
        color: $yellow;
      }
      &.active {
        color: $yellow;
        .tabs-bg {
          color: $yellow;
        }
      }
    }
  }
  .left-name {
    span {
      color: $yellow;
    }
  }
  .progress-bar,
  .qr-box,
  .ex-box > .name,
  .ex-heading,
  .left-name > .sub,
  .skill-name > ul > .point,
  .cats-filter > div > .current,
  .social-container > .social-icon,
  .profile,
  form > button {
    background-color: $yellow;
  }
  .main-heading {
    &::after {
      background-color: $yellow;
    }
  }
  .skill-name > .name,
  .contact-info > ul {
    border-color: $yellow;
  }
  .portfolio-list > .grid-item > a {
    &:hover {
      border-color: $yellow;
    }
  }
  .ex-heading {
    .exp,
    .edu,
    .flags-edu,
    .flags-exp {
      &::before {
        border-top: 42px solid $yellow;
      }
      &::after {
        border-bottom: 42px solid $yellow;
      }
    }
  }
}
.blue {
  .tabs {
    .item {
      &:not(.active):hover .tabs-bg {
        color: $blue;
      }
      &.active {
        color: $blue;
        .tabs-bg {
          color: $blue;
        }
      }
    }
  }
  .left-name {
    span {
      color: $blue;
    }
  }
  .progress-bar,
  .qr-box,
  .ex-box > .name,
  .ex-heading,
  .left-name > .sub,
  .skill-name > ul > .point,
  .cats-filter > div > .current,
  .social-container > .social-icon,
  .profile,
  form > button {
    background-color: $blue;
  }
  .main-heading {
    &::after {
      background-color: $blue;
    }
  }
  .skill-name > .name,
  .contact-info > ul {
    border-color: $blue;
  }
  .portfolio-list > .grid-item > a {
    &:hover {
      border-color: $blue;
    }
  }
  .ex-heading {
    .exp,
    .edu,
    .flags-edu,
    .flags-exp {
      &::before {
        border-top: 42px solid $blue;
      }
      &::after {
        border-bottom: 42px solid $blue;
      }
    }
  }
}

.green {
  .tabs {
    .item {
      &:not(.active):hover .tabs-bg {
        color: $green;
      }
      &.active {
        color: $green;
        .tabs-bg {
          color: $green;
        }
      }
    }
  }
  .left-name {
    span {
      color: $green;
    }
  }
  .progress-bar,
  .qr-box,
  .ex-box > .name,
  .ex-heading,
  .left-name > .sub,
  .skill-name > ul > .point,
  .cats-filter > div > .current,
  .social-container > .social-icon,
  .profile,
  form > button {
    background-color: $green;
  }
  .main-heading {
    &::after {
      background-color: $green;
    }
  }
  .skill-name > .name,
  .contact-info > ul {
    border-color: $green;
  }
  .portfolio-list > .grid-item > a {
    &:hover {
      border-color: $green;
    }
  }
  .ex-heading {
    .exp,
    .edu,
    .flags-edu,
    .flags-exp {
      &::before {
        border-top: 42px solid $green;
      }
      &::after {
        border-bottom: 42px solid $green;
      }
    }
  }
}
